.back_Image {
  background-image: url("../assets/cobranding-default-left.dfc31853.svg"),
    url("../assets/cobranding-default-right.a801c0cc.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 450px auto, 450px auto;
  background-position: left bottom, right bottom;
  height: 100vh;
  background-color: #faf9ee;
}
